* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
}

.wrapper {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 1150px;
  height: 650px;
  background-color: #000;
}

.header {
  height: 85px;
  width: 100%;
  background-color: orange  ;
}

.footer {
  height: 85px;
  width: 100%;
  background-color: orange  ;
}