@font-face {
  font-family: Poppins;
  src: url(../fonts/Poppins/Poppins-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
}

body {
  display: flex;
  justify-content: center;
}

.wrapper {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 1150px;
  height: 750px;
  background-color: #000;
}

.header {
  padding-top: 15px;
  height: 85px;
  width: 100%;
  background-color: orange;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-text {
  font-size: 50px;
}

.footer {
  height: 85px;
  width: 100%;
  background-color: orange;
  display: flex;
  justify-content: center;
}

.content {
  height: 565px;
  width: 100%;
  background-color: purple;
}

.lecture {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr; 
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  row-gap: 5px;
}

.lecture h3 {
  font-size: 36px;
  grid-column-start: 1;
  grid-column-end: 4;
  height: 100px;
  margin-top: 30px;
}

.home-button {
  /* background-color: blue;*/
}

.invisible {
  display: none;
}

.card {
  width: 500px;
  height: 300px;
  background-color: #fff;
}

.card-image {
  width: 500px;
  height: 300px;
}