@font-face {
  font-family: Poppins;
  src: url(../fonts/Poppins/Poppins-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  background-color: #BBF7D0;
}

.wrapper {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 1150px;
  height: 750px;
  background-color: #22C55E;
}

.header {
  padding-top: 15px;
  height: 85px;
  width: 100%;
  background-color: #4dff4d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-text {
  font-size: 64px;
}

.turned {
  background-color: #4dff4d;
}

.footer {
  height: 85px;
  width: 100%;
  background-color: #4dff4d;
  display: flex;
  justify-content: center;
}

.content {
  height: 565px;
  width: 100%;
  background-color: #4dff4d;
}

.index-content {
  height: 565px;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.index-first-half {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  gap: 100px;
}

.index-second-half {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  gap: 100px;
}

.index-content button {
  appearance: none;
  border: none;
  width: 250px;
  height: 125px;
  font-size: 28px;
  border-radius: 5%;
  border: #166534 3px dashed;
  background-color: #16a34aab;
}

@keyframes button-hover {
  0% {
    background-color: #16A34A;
    color: black;
  }
  100% {
    background-color: #166534;
    color: white;
    transform: scale(1.3);
  }
}

@keyframes button-grow {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.index-content button:hover {
  cursor: pointer;
  animation: button-hover 0.4s ease-in-out;
  animation-fill-mode: forwards;
}

.lecture {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr; 
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  row-gap: 5px;
}

.lecture h3 {
  font-size: 36px;
  grid-column-start: 1;
  grid-column-end: 4;
  height: 100px;
  margin-top: 30px;
}

.invisible {
  display: none;
}

.card {
  width: 150px;
  height: 150px;
  background-color: #166534;
}

.card-image {
  width: 150px;
  height: 150px;
}

.usable-card:hover {
  cursor: pointer;
  animation: button-scale 0.4s ease-in-out;
  animation-fill-mode: forwards;
}


.cards-list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  gap: 50px;
}

@keyframes button-scale-then-back {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

.button-for-next {
  animation: button-scale-then-back 0.4s ease-in-out;
}

.question-header {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  font-size: 36px;
}

.answers-list {
  list-style: none;
  display: grid;
  padding-top: 50px;
  font-size: 32px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-items: center;
  gap: 40px;
}

.answers-list li {
  text-align: center;
  background-color: #16A34Aab;
  width: 300px;
  height: 125%;
}

.answers-list li:hover {
  cursor: pointer;
  animation: button-hover 0.4s ease-in-out;
  animation-fill-mode: forwards;
}

.answers-list img {
  display: flex;
  justify-content: center;
  grid-column-start: 1;
  grid-column-end: 3;
  padding-top: 50px;
  width: 80px;
  height: 80px;
}

.feedback-area {
  display: flex;
  justify-content: center;
  padding-top: 25px;
  font-size: 32px;
}


@keyframes button-scale {
  100% {
    transform: scale(1.3);
  }
}

.answers-list img:hover {
  animation: button-scale 0.4s ease-in-out;
  animation-fill-mode: forwards;
  cursor: pointer;
}

.home-button:hover {
  cursor: pointer;
  animation: button-scale 0.4s ease-in-out;
  animation-fill-mode: forwards;
}